/*ESTILOS GENERALES*/
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em; text-align: justify;}
ul{list-style: none;}
li{font-size: 1.25em;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(101, 33, 165);
}

/*CLASES*/
.container{
    max-width: 1400px;
    margin: auto;
}

.color-somos{color: blueviolet;}

/*VERSION MOVIL*/

/*Seccion Header*/
header{
    background-color: rgb(245, 245, 245);
}

header .logo{
    margin: 0;   
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

/*Seccion hero*/
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("img/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

/*Seccion Somos*/
#somos .container{
    text-align: center;
    padding: 200px 12px;
}

#somos .img-container{
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

/*Seccion cursos*/
#cursos{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#cursos .container{
    padding: 50px 12px;
}

#cursos h2{
    margin-top: 0;
    font-size: 3.2em;
}

#cursos p{
    display: none;
}

#cursos .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 10px;
    border-radius: 15px;
}

/*Para que funcionen los child tienen que estar en un mismo div sin nada más*/
.carta:first-child{
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("img/front-end.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("img/full-stack.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("img/python.jpg");
}

/*Seccion caracteristicas*/
#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}
#caracteristicas li{
    margin: 15px 0px;
    font-weight: bold;
}

#caracteristicas .imgCurso-container{
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
}

/*Seccion fin*/
#fin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 50vh;
}

#fin h2{
    font-size: 7vw;
}

#fin button{
    font-size: 5vw;
}

/*Seccion footer*/
footer{
    background-color: rgb(230, 230, 230);   
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .container{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*VERSION DESKTOP*/
@media (min-width: 720px){

    /*Seccion Header*/
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    /*Seccion Somos*/
    #somos .container{
        display: flex;    
        justify-content: space-evenly;
    }

    #somos .texto{
        width: 50%;
        max-width: 600px;
        text-align: center;
        padding: 0px 30px ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 30px;
    }

    #somos .img-container{
        background-image: url("img/somos-proya.jpg");
        background-position: center center;
        background-size: cover;
        height: 500px;
        width: 800px;
        border-radius: 15px;
    }

    /*Seccion Cursos*/
    #cursos .cartascurso{
        display: flex;
        justify-content: center;
    }

    #cursos p{
        display: block;
        margin-bottom: 30px;
    }

    #cursos h3{
        margin: 10;
    }

  /*  #cursos .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50,50,50,50);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }*/

 /*   .carta:first-child{
        background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("img/front-end-cropped.jpg");
    }
    
    .carta:nth-child(2){
        background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("img/full-stack-cropped.jpg");
    }
    
    .carta:nth-child(3){
        background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("img/python-cropped.jpg");
    }*/

    /*Seccion Caracteristicas*/
    /*#caracteristicas{
        background-image: url("img/background-2.jpg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 700px) 130px;
        border-radius: 15px;
    }*/

    #caracteristicas .imgCurso-container{
        background-image: url("img/background-2.jpg");
        background-position: center center;
        background-size: cover;
        height: 400px;
        width: 500px;
        border-radius: 15px;
    }

    #caracteristicas .container{
        display: flex;    
        justify-content: space-evenly;
    }

    #caracteristicas .textocurso{
        width: 50%;
        max-width: 600px;
        text-align: center;
        padding: 0px 30px ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 30px;
    }

    /*#caracteristicas ul{
        margin-left: 100px;
    }*/

    /*#caracteristicas h2{
        margin-left: 100px;
    }*/
    
     /*Seccion Fin*/
     #fin h2{
        font-size: 5em;
     }

     #fin button{
        font-size: 2em;
    }
}